<!-- ======================== HEAD || CONFIGURACION ARCHIVO HTML ======================== -->

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

<%- include('./partials/head', {title:"DETALLE"}) %> 

<body class="imagen-fondo-body-detalle">
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="detalle--main">
        <section class="detalle__menu--section--producto">
            <article class="detalle__menu--article--producto">
                <div class="detalle__menu--image">
                    <div class="glider-contain">
                        <div class="glider caja--gliter">
                            <div><img src="/images/<%= product.imagen %>" alt=""></div>
                            <div><img src="/images/groot1.jpg" alt=""></div>
                            <div><img src="/images/groot2.jpg" alt=""></div>
                            <div><img src="/images/groot3.jpg" alt=""></div>
                        </div>
                        <button aria-label="Previous" class="glider-prev">«</button>
                        <button aria-label="Next" class="glider-next">»</button>
                        <div role="tablist" class="dots"></div>
                    </div>
                </div>
                <div class="detalle--menu--principal">
                    <div class="detalle__menu--caja1">
                        <h3 class="detalle__menu--titulo detalle-h3"><%= product.nombre %></h3>
                        <h3 class="detalle__menu--titulo">Precio:  <span class="detalle--span"><%= product.precio %>.</span>
                            <br>
                            <span class="detalle--span">descuento :</span>
                            <b class="detalle--span"><%= product.descuento %>% OFF</b>
                        </p>
                        <span class="detalle--span">total</span>
                        <% if (product.descuento > 0) { %> <span class="detalle--span"></span>
                            <p class="detalle--span">
                                 $<%= toThousand((product.precio - (product.precio * product.descuento / 100)).toFixed(0))%>
                            </p>
                        
                        <% }else{ %>
                        <p class="detalle--span">
                            <%= product.precio %>
                        </p>
                        <% } %>
                    <div class="detalle__menu--button">
                        <a class="detalle__menu--button1" href="productCart.html">añadir al carrito</a>
                        <a class="detalle__menu--button2" href="">comprar</a>
                    </div>
                    <article class="detalle__menu--article--descripcion">
                        <h4 class="detalle__menu--titulo">*Descripcion</h4>
                        <div class="detalle__menu--p">
                            <p>altura:     <%= product.altura %></p>
                            <p>material:   <%= product.material %></p>
                            <p>tiempo:     <%= product.tiempo %>  (en minutos)</p>
                        </div>
                        <p class="detalle__menu--descripcion--general">Descripcion general:</p>
                            <p class="detalle__menu--parrafo"><%= product.descripcion %> </p>
                    </article>
                </div>
                </div>
                
            </article>
            
        </section>
        <h3 class="detalle__menu--tituo--comentario">*comentarios*</h3>
        <section class="detalle__menu--section--comentarios">
            <div class="detalle__menu--comentario detalle--comentario1">
                <h6 >perfil del usuario</h6>
                <p class="detalle__menu--lorem" >Lorem ipsum dolor sit amet. <a href="">ver más</a></p>
            </div>
            <div class="detalle__menu--comentario detalle--comentario2">
                <h6>perfil del usuario</h6>
                <p class="detalle__menu--lorem">Lorem ipsum dolor sit amet consectetur. <a href="">ver más</a></p>
            </div>
            <div class="detalle__menu--comentario detalle--comentario3">
                <h6>perfil del usuario. </h6>
                <p class="detalle__menu--lorem">Lorem ipsum dolor sit. <a href="">ver más</a></p>
            </div>
        </section>
        <section class="detalle__menu--comentar">
            <h3>Déjanos tu comentario</h3>
            <div class="detalle__menu--caja--textarea">
                <textarea class="detalle--textarea" name="comentario" id="comentario" cols="35" rows="3"></textarea>
                <a class="detalle__menu--button-enviar" href="">enviar</a>
            </div>
        </section>
    </main>

    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>


    <!-- ==================================== GLIDER ==================================== -->


    <script src="/javascripts/glider.js"></script>
    <script>
        window.addEventListener('load', function () {
            new Glider(document.querySelector('.glider'), {
                slidesToShow: 1,
                dots: '#dots',
                draggable: true,
                arrows: {
                    prev: '.glider-prev',
                    next: '.glider-next'
                },
                responsive: [
                    {
                        // screens greater than >= 768px
                        breakpoint: 768,
                        settings: {
                            slidesToShow: '1',
                            slidesToScroll: 'auto',
                            itemWidth: 150,
                            duration: 0.25
                        }
                    }, {
                        // screens greater than >= 1024px
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            itemWidth: 150,
                            duration: 0.25
                        }
                    }
                ]
            });
        })
    </script>
    
</body>

</html>
