<%- include('./partials/head', {title:"Modelo"}) %>

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->
<body class ="general_body">
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>
    
    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="general_main">
        <div class="">
                <h1 class="specialTittle1">
                  Productos Personalizados Solicitados
                </h1>
        </div>
        <div class="caja--menu-lista">
        <div class="caja-de-imagenes">    
            <% products.forEach( (product) => { %>
                <div class="caja-de-producto">
                    <a href="/products/detalle/<%= product.id%>">
                        <figure>
                            <% if (product.images.length !== 0) { %>
                                <img src="/images/imgProducts/<%= product.images[0].file %>" >                         
                            <% }else{ %>
                                <img src="/images/imgDefault/<%= "imagen-default.webp" %>" >                         
                            <% } %>    
                        </figure>
                        <article>
                            <p><%= product.name %>   "$" <%= product.price %> </p>
                        </article>
                    </a>
                </div>
                
            <% }) %>
        </div>
        </div>
    </main>
    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
</body>
</html>