<%- include('./partials/head', {title:"Diseño"}) %>

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->
<body class="general_body">
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>
    
    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="general_main">
        
        <div class="caja--menu-lista">
            <h3>CATEGORIAS</h3>
            <div class="listado_categoria">
                <ul>
                    <% menu.forEach( (element,index) => { %>
                        <li><button id="boton" class="bt-neon" ><%= element %></button></li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <h1 class = "product-title" >PRODUCTOS</h1>
        <div class="caja-de-imagenes">    
            <% products.forEach( (product) => { %>
                <div class="caja-de-producto">
                    <a href="/products/detalle/<%= product.id%>">
                        <figure class="caja-de-figura">
                            <% if (product.images.length !== 0) { %>
                                <h3> <%= product.name %> </h3>
                                <img src="/images/imgProducts/<%= product.images[0].file %>">                         
                            <% } %>
                        </figure>
                        <article>
                            <p>$ <%= product.price %> </p>   
                            <br>
                            <p> <%= product.description %> </p>
                        </article>
                    </a>
                </div>
            <% }) %>
        </div>

    </main>    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
</body>
</html>