<%- include('./partials/head', {title:"Modelo"}) %>

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->
<body class ="general_body">
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>
    
    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="general_main">
 
        <div class="caja--menu-lista">
            <h1>CATEGORIAS</h1>
            <div class="listado_categoria">
                <% let a=[] %> 
                <% products.forEach( (product) => { %>
                    a.push(product.categories.name) 
                     <%= a %> 
                
                <% }) %>


                <ul>
                    <li><a href="/"><%= products[0].categories.name %> </a></li>
                </ul>

                <div><a href="/">mates</a></div>
                <div><a href="/">figuras</a></div>
                <div><a href="/">llaveros</a></div>
                <div><a href="/">articulados</a></div>
                <div><a href="/">portacelular</a></div>
                <div><a href="/">cosplay</a></div>
                <div><a href="/">juegos</a></div>
                <div><a href="/">funkos</a></div>
            </div>

        </div>
         <div class="caja-de-imagenes">    
            <% products.forEach( (product) => { %>
                <div class="caja-de-producto">
                    <a href="/products/detalle/<%= product.id%>">
                        <figure>
                            <% if (product.images.length !== 0) { %>
                                <img src="/images/imgProducts/<%= product.images[0].file %>" >                         
                            <% }else{ %>
                                <img src="/images/imgDefault/<%= "imagen-default.webp" %>" >                         
                            <% } %>    
                        </figure>
                        <article>
                            <p><%= product.name %>   "$" <%= product.price %> </p>
                        </article>
                    </a>
                </div>
                
            <% }) %>
        </div>
  
    </main>
    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
</body>
</html>