<!-- ======================== HEAD || CONFIGURACION ARCHIVO HTML ======================== -->

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

<%- include('./partials/head', {title:"PROFILE"}) %> 

<body class="general_body">
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="general_main">
        <h1 class="profile_titulo">PERFIL DE USUARIO</h2>
            <div class="contenedor_avatar">
                <img class="img-avatar" src="/images/imgUsers/<%= user.avatars[0].avatar %>" alt="">
            </div>
        <section class="profile_section">
            
            <form class="profile_form" action="/users/update?_method=PUT"  method="POST"  enctype="multipart/form-data">
                <div class="profile_form_group" >
                    <div class="profile_form_contenedor">
                        <label for="firstName">Nombre</label>
                        <input  type="text" id="firstName" name="firstName" value="<%= locals.old && old.firstName ? old.firstName : user.firstName %>">
                        <span class="login_error"> <%= locals.errors && errors.firstName ? errors.firstName.msg : null %></span>
                    </div>
                    <div class="profile_form_contenedor">
                        <label for="lastName">Apellido</label>
                        <input type="text" id="lastName" name="lastName" value="<%= locals.old && old.lastName ? old.lastName : user.lastName %>">
                        <span class="login_error"> <%= locals.errors && errors.lastName ? errors.lastName.msg : null  %></span>
                    </div>
                    <div class="profile_form_contenedor">
                        <label for="email">Correo Electronico</label>
                        <input type="text" id="email"  name="email" value="<%= user.email %>" readonly>
                    </div>
                    <div class="profile_form_contenedor">
                        <label for="dateBirth">Fecha de Nacimiento</label> <br>
                        <input type="date" id="dateBirth" name="dateBirth" value="<%= moment(user.dateBirth).format('YYYY-MM-DD') %>" required>
                    </div>
                </div>

                <div class="genero_hobbies" >
                    <div>
                        <H3>Género</H3>
                        
                        <label for="genero"> <input name="genero" type="radio" id="genero" value="1" 
                            <%= user.genders ? user.genders.name  === 'Masculino' && 'checked' : 'uncheked' %>> Masculino</label>  <br>
                        <label for="genero"> <input name="genero" type="radio" id="genero" value="2"
                            <%= user.genders ? user.genders.name === 'Femeninos' && 'checked' :'uncheked' %>> Femenino</label>  <br>
                        <label for="genero"> <input name="genero" type="radio" id="genero" value="3"
                            <%= user.genders? user.genders.name === 'Otros' && 'checked' :'uncheked'%>> Otro</label>
                    </div>
                    
                </div>

                <div class="profile_form_group">
                    <div class="profile_form_contenedor">
                        <h3> Domicilio</h3>

                        <label for="address"> Calle</label>
                        <input type="text" id="address" name="address" value="<%= user.address %> ">
                        <hr>

                        <div class="section--add input">
                            <label for="">Ciudad</label>
                        <select name="city" id="">
                            <label value="" hidden selected>Seleccione su ciudad</label>
                            <option value="cutral co" <%= user.city === 'cutral co' && 'selected' %>>Cutral Co </option>
                            <option value="plaza huincul" <%= user.city === 'plaza huincul' && 'selected' %>>Plaza Huincul </option>
                            <option value="zapala" <%= user.city === 'zapala' && 'selected' %>>Zapala </option>
                            <option value="buenos aires" <%= user.city === 'buenos aires' && 'selected' %>>Buenos Aires </option>
                            <option value="jujuy" <%= user.city === 'jujuy' && 'selected' %>>Jujuy </option>
                        </select>
                        </div>

                        <div class="section--add input">
                            <label for="">Provincia</label>
                        <select name="province" id="">
                            <option value="" hidden selected>Seleccione su provincia</option>
                            <option value="neuquen" <%= user.province === 'neuquen' && 'selected' %>>Neuquén</option>
                            <option value="buenos aires" <%= user.province === 'buenos aires' && 'selected' %>>Buenos Aires</option>
                            <option value="jujuy" <%= user.province === 'jujuy' && 'selected' %>>jujuy</option>
                        </select>
                        </div>

                        <div class="section--add input">
                            <label for="">Pais</label>
                            <select name="country" id="">
                                <option value="" hidden selected>Seleccione su Pais</option>
                                <option value="Argentina" <%= user.country === 'Argentina' && 'selected' %>>Argentina</option>
                                <option value="Chile" <%= user.country === 'Chile' && 'selected' %>>Chile</option>
                                <option value="Uruguay" <%= user.country === 'Uruguay' && 'selected' %>>Uruguay</option>
                            </select>
                        </div>
                    </div>
                    <div class="profile_form_contenedor">
                        <h3>Acerca de mi</h3>
                        <textarea name="description" id="" cols="30" rows="10" value="<%= user.description %>"></textarea>
                        <div>
                            <label class="form__button form__button--cancel" for="imagen">Seleccione imagen</label>
                        <input hidden type="file" id="imagen" name="avatar" accept="image/*">
                        </div>
                    </div>
                    
                </div>
                <div class="profile_form_button" >
                    <a  class="form__button form__button--send" href="/">Salir</a>                    
                    <button class="imagen--product--add" type="submit">Guardar Cambios</button>                    
                </div>
                
                
            </form>
            <div style="margin:1%">                        
                <form action="/users/destroy?_method=DELETE"  method="POST" id="eliminar">
                    <button class="form__button form__button--send" id="delete-button" type="submit" id="buttonSubmitDelete" onclick="return alert('¿Estas seguro de querer eliminar el usuario?')" >Eliminar cuenta</button>
                </form>
            </div>
        </section>
    </main>
    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
    <script src="/javascripts/profile.js"></script>

</body>
</html>