<!-- ======================== HEAD || CONFIGURACION ARCHIVO HTML ======================== -->

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

<%- include('./partials/head', {title:"PROFILE"}) %> 

<body class="general_body">
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="general_main">
        <h1 class="profile_titulo">PERFIL DE USUARIO</h2>
            <div class="contenedor_avatar">
                
                <img class="img-avatar" src="/images/imgUsers/<%= user.avatars[0].avatar %>" alt="">
            </div>
        <section class="profile_section">
            
            <form class="profile_form" action="/users/update?_method=PUT" id="profileForm" method="POST"  enctype="multipart/form-data">
                <div class="profile_form_group" >
                    <div class="profile_form_contenedor">
                        <label for="firstName">Nombre</label>
                        <input  type="text" id="firstName" name="firstName" value="<%= locals.old && old.firstName ? old.firstName : user.firstName %>">
                        <span class="login_error"> <%= locals.errors && errors.firstName ? errors.firstName.msg : null %></span>
                        <span id="errorNombre" class="login_error"></span>
                    </div>
                    <div class="profile_form_contenedor">
                        <label for="lastName">Apellido</label>
                        <input type="text" id="lastName" name="lastName" value="<%= locals.old && old.lastName ? old.lastName : user.lastName %>">
                        <span class="login_error"> <%= locals.errors && errors.lastName ? errors.lastName.msg : null  %></span>
                        <span id="errorApellido" class="login_error"></span>
                    </div>
                    <div class="profile_form_contenedor">
                        <label for="email">Correo Electronico</label>
                        <input type="text" id="email"  name="email" value="<%= user.email %>" readonly>
                    </div>
                    <div class="profile_form_contenedor">
                        <label for="dateBirth">Fecha de Nacimiento</label> <br>
                        <input type="date" id="dateBirth" name="dateBirth" value="<%= moment(user.dateBirth).format('YYYY-MM-DD') %>">
                        <span id="errorNacimiento" class="login_error"></span>
                    </div>
                </div>

                <div class="genero_hobbies" >
                    <div>
                        <H3>Género</H3>
                        
                        <label for="genero"> <input name="genero" type="radio" id="genero" value="1" 
                            <%= user.genders ? user.genders.name  === 'Masculino' && 'checked' : 'uncheked' %>> Masculino</label>  <br>
                        <label for="genero"> <input name="genero" type="radio" id="genero" value="2"
                            <%= user.genders ? user.genders.name === 'Femeninos' && 'checked' :'uncheked' %>> Femenino</label>  <br>
                        <label for="genero"> <input name="genero" type="radio" id="genero" value="3"
                            <%= user.genders? user.genders.name === 'Otros' && 'checked' :'uncheked'%>> Otro</label>
                    </div>
                    
                </div>

                <div class="profile_form_group">
                    <h3> Domicilio</h3>
                    <div class="profile_form_contenedor">

                        <div class="section--add input">
                            <h3>Pais</h3>
                            <select name="country" id="country">
                                <option value="" hidden selected>Seleccione su Pais</option>
                                <option value="Argentina" <%= user.country === 'Argentina' && 'selected' %>>Argentina</option>
                                <option value="Chile" <%= user.country === 'Chile' && 'selected' %>>Chile</option>
                                <option value="Uruguay" <%= user.country === 'Uruguay' && 'selected' %>>Uruguay</option>
                            </select>
                            <span id="errorPais" class="login_error"></span>
                        </div>

                        <div class="section--add input">
                            <h3 >Provincia</h3>
                            <input hidden type="text" class="form-input" id="province-input" value="<%= user.province %>"><%= user.province %>
                            <select name="province" id="province"></select>
                            <span id="errorProvincia" class="login_error"></span>
                        </div>

                        <div class="section--add input">
                            <h3>Ciudad</h3>
                            <input hidden type="text" class="form-input" id="city-input" value="<%= user.city %>"><%= user.city %>
                            <select name="city" id="city"></select>
                            <span id="errorCiudad" class="login_error"></span>
                        </div>

                        <div class="section--add input">
                            <label for="address"> Calle :</label>
                            <input type="text" id="address" name="address" value="<%= user.address %> ">
                            <span id="errorCalle" class="login_error"></span>
                        </div>
                    </div>

                    <div class="profile_form_contenedor">
                        <div class="section--add input" >
                            <label>Acerca de mi</label>
                            <textarea name="description" id="sobreMi" cols="30" rows="10" value="<%= user.description %>"></textarea>
                            <span id="errorSobreMi" class="login_error"></span>
                        </div>

                        <div class="section--add_image">
                            <a class="imagen--avatar--add" href="">
                                <label class="form__button--avatar" for="imagenPerfil">Seleccione imagen</label>
                                <input hidden class="form--input" type="file" id="imagenPerfil" name="avatar" accept="image/*">
                                <span id="errorImgPerfil" class="login_error"></span>
                            </a>
                        </div>
                    
                    </div>
                    
                </div>
                <div class="profile_form_button" >
                    <a  class="form__button form__button--send" href="/">Salir</a>                    
                    <button class="imagen--product--add" type="submit" id="update-button">Guardar Cambios</button>                    
                </div>
                
                <span id="errorFormPerfil" class="login_error"></span>
                
            </form>
            <div style="margin:1%">                        
                <form action="/users/destroy?_method=DELETE"  method="POST" id="eliminar">
                    <button class="form__button form__button--send" id="delete-button" type="submit" >Eliminar cuenta</button>
                </form>
            </div>
        </section>
    </main>
    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
    <script src="/javascripts/profile.js"></script>

    <script>
        console.log("userProfile.js connected!");
        const allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
        const apiUrlBase = "https://apis.datos.gob.ar/georef/api"


        const getProvinces = async () => {
            try {

            const response = await fetch(`${apiUrlBase}/provincias`);
            const result = await response.json();

            result.provincias.sort((a, b) => a.nombre > b.nombre ? 1 : a.nombre < b.nombre ? -1 : 0)

            return result.provincias

            } catch (error) {
            console.error
            }

        };

        const getCities = async (provincia) => {
            try {

            const response = await fetch(`${apiUrlBase}/localidades?provincia=${provincia}&max=4000`);
            const result = await response.json();

            result.localidades.sort((a, b) => a.nombre > b.nombre ? 1 : a.nombre < b.nombre ? -1 : 0)

            return result.localidades

            } catch (error) {
            console.error
            }
        }



        window.addEventListener('load', async () => {


            let provincias = await getProvinces();
            provincias.forEach(provincia => {
            $('province').innerHTML += `<option value="${provincia.nombre}"  ${provincia.nombre === $('province-input').value && 'selected'}>${provincia.nombre}</option>`
            });

            $('province').addEventListener('change', async ({target}) => {
            $('city').innerHTML = `<option selected hidden>Cargando...</option>`;

            let localidades = await getCities(target.value);
            $('city').innerHTML = `<option selected hidden>Seleccione...</option>`;
            localidades.forEach(localidad => {
            $('city').innerHTML += `<option value="${localidad.nombre}">${localidad.nombre}</option>`
            });
            })


        })
        </script>

</body>
</html>