<!-- ======================== HEAD || CONFIGURACION ARCHIVO HTML ======================== -->

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

<%- include('./partials/head', {title:"PROFILE"}) %> 

<body class="general_body">
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="general_main">
        <h1 class="profile_titulo">PERFIL DE USUARIO</h2>
        <section class="profile_section">
            <form class="profile_form" action="/users/update?_method=PUT"  method="POST">
                <div class="profile_form_group" >
                    <div class="profile_form_contenedor">
                        <label for="firstName">Nombre</label>
                        <input  type="text" id="firstName" name="firstName" value="<%= locals.old && old.firstName ? old.firstName : user.firstName %>">
                        <span class="login_error"> <%= locals.errors && errors.firstName ? errors.firstName.msg : null  %>  </span>
                    </div>
                    <div class="profile_form_contenedor">
                        <label for="lastName">Apellido</label>
                        <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>">
                    </div>
                    <div class="profile_form_contenedor">
                        <label for="email">Correo Electronico</label>
                        <input type="text" id="email"  name="email" value="<%= user.email %>" readonly>
                    </div>
                    <div class="profile_form_contenedor">
                        <label for="dateBirth">Fecha de Nacimiento</label> <br>
                        <input type="date" id="dateBirth" name="dateBirth" value="<%= moment(user.dateBirthe).format('YYYY-MM-DD') %>" required>
                    </div>
                </div>

                <div class="genero_hobbies" >
                    <div>
                        <H3>Género</H3>
                        <label for="genero"> <input name="genero" type="radio" id="genero" value="m" 
                            <%= user.genero === 'm' && 'checked' %>> Masculino</label>  <br>
                        <label for="genero"> <input name="genero" type="radio" id="genero" value="f"
                            <%= user.genero === 'f' && 'checked' %>> Femenino</label>  <br>
                        <label for="genero"> <input name="genero" type="radio" id="genero" value="o"
                            <%= user.genero === 'o' && 'checked' %>> Otro</label>
                    </div>
                    <div>
                        <H3>Hobbies</H3>
                        <input type="checkbox" id="musica" value="musica" name="hobbies">  
                        <label for="musica">Música</label>  <br>
                        <input type="checkbox" id="deporte" value="deporte" name="hobbies">
                        <label for="deporte">Deporte</label>  <br>
                        <input type="checkbox" id="aireLibre" value="aireLibre" name="hobbies">
                        <label for="aireLibre">Aire Libre</label>
                    </div>
                </div>

                <div class="profile_form_group">
                    <div class="profile_form_contenedor">
                        <h3> Domicilio</h3>

                        <label for="address"> Calle</label>
                        <input type="text" id="address" name="address" value="<%= user.address %> ">
                        <hr>
                        <select name="city" id="">
                            <label value="" hidden selected>Seleccione su ciudad</label>
                            <option value="cutral co" <%= user.city === 'cutral co' && 'selected' %>>Cutral Co </option>
                            <option value="plaza huincul" <%= user.city === 'plaza huincul' && 'selected' %>>Plaza Huincul </option>
                            <option value="zapala" <%= user.city === 'zapala' && 'selected' %>>Zapala </option>
                            <option value="buenos aires" <%= user.city === 'buenos aires' && 'selected' %>>Buenos Aires </option>
                            <option value="jujuy" <%= user.city === 'jujuy' && 'selected' %>>Jujuy </option>
                        </select>
                        <select name="province" id="">
                            <option value="" hidden selected>Seleccione su provincia</option>
                            <option value="neuquen" <%= user.provincia === 'neuquen' && 'selected' %>>Neuquén</option>
                            <option value="buenos aires" <%= user.provincia === 'buenos aires' && 'selected' %>>Buenos Aires</option>
                            <option value="jujuy" <%= user.provincia === 'jujuy' && 'selected' %>>jujuy</option>
                        </select>
                    </div>
                    <div class="profile_form_contenedor">
                        <h3>Acerca de mi</h3>
                        <textarea name="description" id="" cols="30" rows="10" value="<%= user.description %> " ></textarea>
                        <label for="imagen">Seleccione imagen</label>
                        <input hidden type="file" id="imagen" name="imagen">
                    </div>
                </div>
                <div class="profile_form_button" >
                    <a  class="boton_salir" href="/">Salir</a>                    
                    <button type="submit">Guardar Cambios</button>                    
                </div>
                
                
            </form>
            <div style="margin:1%">                        
                <form action="/users/destroy?_method=DELETE"  method="POST">
                    <button class="boton_salir" id="delete-button" type="submit" id="buttonSubmitDelete" onclick="return alert('¿Estas seguro de querer eliminar el usuario?')">Eliminar cuenta</button>
                </form>
            </div>
        </section>
    </main>
    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
</body>
</html>