<%- include('./partials/head', {title:'Resultados de tu búsqueda'}) %>

<body class="general_body">
    <%- include('./partials/header') %>

    <main class="general_main">
        <div class="find_General" >
            <div class="find_contenedor_title">
                <h2 class="find_Title">Resultados de la búsqueda: <strong><%= keywords %></strong></h2>
            </div>
            <div class="caja-de-imagenes">
            <% if (result.length > 0) { %>
                <% result.forEach( (product) => { %>
                    <div class="caja-de-producto">
                        <a href="/products/detalle/<%= product.id%>">
                            <figure class="find_Figure">
                                <% if (product.images.length !== 0) { %>
                                    <p> <%= product.name %> </p>
                                    <img src="/images/imgProducts/<%= product.images[0].file %>">                         
                                <% } %>
                            </figure>
                            <article>
                                <p>'$' <%= product.price %> </p>   
                                <p> <%= product.description %> </p>
                            </article>
                        </a>
                    </div>
                <% }) %>

				<% }else{ %>
					<div class="find_Contenedor">
                        <div class="find_Alert" >
                            OOPS!!!
                        </div>
                        <div class="find_Mensaje" >
                            No se ha encontrado ningún producto
                            <p>¿Que debo hacer?</p>
                            <ul>
                                <li> Compruebe los términos introducidos</li>
                                <li> Intente utilizar una sola palabra</li>
                                <li> Utilice términos genéricos en la búsqueda</li>
                                <li> Utilice sinonimos al término deseado</li>
                            </ul>
                        </div>

                    </div>
			<% } %>
        </div>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>