<%- include('./partials/head', {title:'Resultados de tu búsqueda'}) %>

<body class="general_body">
    <%- include('./partials/header') %>

    <main class="general_main">
        <div>
            <div class="caja--menu-lista">
                <h2 class="products-title">Resultados de la búsqueda: <strong><%= keywords %></strong></h2>
            </div class="caja-de-imagenes">
            <% if (result.length > 0) { %>
                <% result.forEach( (product) => { %>
                    <div class="caja-de-producto">
                        <a href="/products/detalle/<%= product.id%>">
                            <figure>
                                <% if (product.images.length !== 0) { %>
                                    <p> <%= product.images[0].file %> </p>
                                    <img src="/images/imgProducts/<%= product.images[0].file %>">                         
                                <% } %>
                            </figure>
                            <article>
                                <p><%= product.name %>   "$" <%= product.price %> </p>
                            </article>
                        </a>
                    </div>
                <% }) %>

				<% }else{ %>
					<div class="col-12">
						<h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
					</div>
			
			<% } %>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>